# Ignore LaTeX intermediates
*.pdf*
*.pyg
*.log
*.bbl
*.blg
*.out
*.aux
*.png
*.toc
*.lol
*.lof
_minted-*/

# Beamer
*.nav
*.snm

# Aspell
*.bak

# Copied from simulation results
*-graph.tex
*-table.tex
sim-usergraph.tex
